.rows{
    .btn{
        font-size: 30px; 
    }
    display: flex;
    flex-direction: column;
    *{/*row0-3*/
        display: flex;
        border: 1px solid white;
        justify-content: center;
        *{/*button*/
            min-width: 140px;
            border-radius: 1px;
            margin: 1px;
            border: 1px solid pink;
            border-left: 1px solid whitesmoke;
            border-right: 1px solid whitesmoke;
            min-height: 50px;
            background-color: rgb(212, 139, 249);
            text-shadow: 1px 0 3px rgb(219, 191, 223);
            text-align: center;
            transition: all 300ms;
        }
        * :hover{
            border: 1px solid rgb(208, 144, 155);
        }
    }
}